@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  @apply disabled:bg-opacity-80 p-4 px-12 shadow-md hover:bg-lime-600 bg-lime-500 text-white font-semibold rounded-lg;
}
.swal-button {
  @apply p-2 px-8 bg-dark text-white font-semibold;
}
.swal-button:hover {
  @apply p-2 px-8 !bg-dark text-lime-500 font-semibold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
